
/* Main butons style (search and add) */
.main-button {
    -fx-background-color: rgba(79, 149, 220, 0.80);
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
    -fx-cursor: hand;
}

/* Hover effect for main buttons */
.main-button:hover {
    -fx-background-color: rgb(78, 165, 251);
}

/* Settings button */
.settings-button {
    -fx-background-color: rgba(159, 159, 159, 0.58);
    -fx-background-radius: 80px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
    -fx-transition: transform 0.3s ease-in-out;
}

/* Rotating effect when clicked */
.settings-button.rotate {
    -fx-rotate: 90;
}

/* Settings dropdown menu */
.settings-menu {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

.settings-menu Button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.settings-menu Button:hover {
    -fx-background-color: lightgray;
}
